table {
    width: 100%;
    max-width: 750px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 3em;
    font-family: 'ZCOOL Kuaile', sans-serif;
    background-color: rgba(81, 204, 235, 0.562);
    border-radius: 1%;
}
thead {
    font-weight: bolder;
    color: rgb(255, 238, 0);
    background: #EB4D5C;
}

tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

td {
    padding: 5px 10px;
}

body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url('../Assets/Onesie-Party-Confetti.jpg');
    font-size: 22px;
    font-family: 'ZCOOL Kuaile', sans-serif;
}

h1 {
  color: turquoise;
  text-decoration: underline;
}