body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url('../Assets/Onesie-Party-Confetti.jpg');
    font-size: 22px;
}
fieldset, input, textarea {
    display: inline;
}
form {
  background-color: rgba(81, 204, 235, 0.562);
  width: 600px;
  display: inline-block;
  border-radius: 10%;
}

h1 {
  color: turquoise;
  text-decoration: underline;
}
