@import url('https://fonts.googleapis.com/css?family=Gugi|ZCOOL+KuaiLe');

h1 {
    font-family: 'Gugi', Sans;
};

body {
    font-family: 'ZCOOL Kuaile', sans-serif;
}

button {
    padding: 5px;
    margin: 10px;
}

button:hover {
    box-shadow: 2px 2px 10px aqua;
}