@import url('https://fonts.googleapis.com/css?family=Gugi|ZCOOL+KuaiLe');

h1 {
    font-family: 'Gugi', Sans;
}

body {
    font-family: 'Gugi', sans-serif;
    text-align: center;
    color: aqua;
    background-image: url('../Assets/Onesie-Party-Confetti.jpg');
    font-size: 22px;
}

h2 {
    color: bisque;
}

button {
    padding: 5px;
    display: block;
    margin: 15px auto;
  }

button:hover {
    box-shadow: 0px 0px 15px aqua;
}